body{
	background: #f7f7f7;
}

ul, li{
	padding: 0;
	margin: 0;
}

.row{
	/*max-width: 80rem;*/
}

.secondary_nav{
	background: #222;
	color: #fff;
	min-height: 25px;
}

.secondary_nav ul{
	padding: 0px 6px;
}

.secondary_nav ul li{
	display: inline;
	padding: 0 6px;
	font-size: 12px;
}

.secondary_nav ul li a{
	color: #fff;
}

header{
	min-height: 100px;
	background: #e6e6e6;
}

.main_nav{
	background: #f7f7f7;
	height: 40px;
	color: #fff;
}

.main_nav ul{
	padding: 6px 12px;
}

.main_nav ul li{
	display: inline;
	padding: 0 12px;
}

.main_nav ul li::after{
	/*content: "|"*/
}

.main_nav ul{

}

.slider{
	min-height: 350px;
	background: #fff;
	border: 1px solid;	
}

section{
	background: #fff;
	min-height: 400px;
	padding: 2rem;
}

footer{
	min-height: 200px;
	background: #333;
}
