/* Show load indicator when image is being loaded */
.cropit-image-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-image-preview.cropit-image-loaded {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
}

/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-image-background {
  opacity: .1;
}

/* Style the background image differently when preview area is hovered */
.cropit-image-background.cropit-preview-hovered {
  opacity: .2;
}

/*
 * If the slider or anything else is covered by the background image,
 * use non-static position on it
 */
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}

.cropit-image-preview {
  /* You can specify preview size in CSS */
  width: 120px;
  height: 140px;
}

 .select-image-btn {
	background: #52a0c7;
	color: #fff;
	padding: 5px 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.cropit-image-zoom-input{
  font-family: "FontAwesome";
}

.cropit-image-zoom-input::before{
  content: "\f03e";
  font-size: 14px;
  padding-right: 5px;
}

.cropit-image-zoom-input::after{
  content: "\f03e";
  font-size: 19px;
  padding-left: 5px;
}


input[type=range]{
        -webkit-appearance: none;
        padding: 1.5rem 0;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #999;
        margin-top: -5px;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }


    /*// for firefox browsers*/

    input[type=range]{
        /* fix for FF unable to apply focus style bug  */
        border: 1px solid white; 

        /*required for proper track sizing in FF*/
        width: 100%;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #999;
    }

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring{
        outline: 1px solid white;
        outline-offset: -1px;
    }

    input[type=range]:focus::-moz-range-track {
        background: #ccc;
    }


    /*// for internet explorer*/

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;
        
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;

        /*remove default tick marks*/
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #777;
        border-radius: 10px;
    }
    input[type=range]::-ms-fill-upper {
        background: #ddd;
        border-radius: 10px;
    }
    input[type=range]::-ms-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #999;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #888;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #ccc;
    }